
html {
	height: 100%;
}


body {
	color: #777777;
	font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: url(textured_paper.png);
	min-height: 100%;
	position: relative;
	margin: 0;
}

header {
	width: 100%;	 
	height: 70px;
	border: 2px #cccccc solid; 
	background-color: white;
}

h1 {
	background-color: #4aaaa5;
	float: left;
	font-size: 30px;
	color: #fff;
	padding: 20px 30px;
}

h1 h2  {
	font-family: 'Georgia', Times, Times New Roman, serif;
}


h2 {
	padding: 15px;
	font-size: 20px;
	color: #4aaaa5;
	text-align: center;

}





nav {
	float: right;
	margin-top: 25px;
}

li { 
	display: inline;
	font: 18px;
	padding: 25px;
}

#main {
	float: left;
	width: 650px;
	background-color: white;
	height: 300px;
	margin-top: 50px;
	margin-right: 20px;
	padding: 10px;

}

  #main h1 {
	
	color: #4aaaa5;
	padding: 15px 0 15px 15px;
	background-color: white;
	
}

#side {
	float: left;
	background-color: white;
	margin-top: 50px;
	height: 250px;
	width: 270px;
}

#divider {
	clear: both;
}


a  {
	text-decoration: none;
}

.content_area {
	width: 960px;
	margin: 0 auto;
}

ul {
	display: inline;
}


footer {
	background-color: #666666;
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
}

footer p {
	color: white;
	text-align: center;
	padding: 20px;
}

